* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding-top: 60px;   /* IMPORTANT */

}

    /* Navbar */
    .navbar {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        background: #0267ff;
        color: rgb(255, 255, 255);
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;  
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
    }

    .nav-links a:hover {
        color: #3b82f6;
    }

    /* Hero */
    .hero {
        text-align: center;
        padding: 40px;
    }

    /* Table */
    .table-section {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    table {
        width: 80%;
        border-collapse: collapse;
        background: white;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    th {
        background: #3b82f6;
        color: white;
    }

    /* Tools Section */
    .tools {
        text-align: center;
        padding: 40px 20px;
    }

    .tools-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;
        padding: 20px;
    }

    .box {
        background: white;
        padding: 15px;
        border-radius: 10px;
        transition: 0.3s;
    }

    .box:hover {
        transform: scale(1.05);
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }

    .box img {
        width: 100%;
        height: 120px;
        object-fit: contain;
    }

    .box p {
        margin-top: 10px;
        font-weight: bold;
    }

    /* Footer */
    footer {
        text-align: center;
        padding: 20px;
        background: #111827;
        color: white;
    }
